<%= simple_form_for [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label :status %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
  </p>
  <%= form.input :commenter %>
  <%= form.input :body, imput_html: { rows: 10} %>
  <br>
  <p>
    <%= form.button :submit, class: 'btn btn-primary' %>
  </p>
<% end %>