<% if user_signed_in? %>
<div class="btn-group" role="group" aria-label="Basic outlined example">
  <button type="button" class="btn btn-outline-secondary">
    <%= current_user.email %>
  </button>
  <button type="button" class="btn btn-outline-secondary">
    <%= link_to "Edit User", edit_user_registration_path %>
  </button>
  <button type="button" class="btn btn-outline-secondary">
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
  </button>
</div>
<% else %>
    <%= link_to "Sign in", new_user_session_path, class:'link-secondary' %>&nbsp;&nbsp;
    <%= link_to "Sign up", new_user_registration_path, class:'btn btn-sm btn-outline-secondary' %>
<% end%>